.card-bio {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(73, 71, 71, 0.2);
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.card-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.5s ease-in-out; /* Add some space for smaller screens */
}

.avatar:hover {
  transform: rotate(360deg);
}

.card-bio-info {
  width: auto;
  flex: 1;
  margin: 0;
}

.card-about {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

.card-about p {
  text-align: justify;
}
.card-about a {
  text-align: justify;
  margin: 0;
  padding:2px;
}

.card-projects {
  overflow: hidden;
  height: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(73, 71, 71, 0.2);
  align-items: center;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}

body {
  font-family: "Englebert", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(50, 50, 20);
}

h1, h2, h3 {
  font-family: "Englebert", cursive;
  font-weight: 700;
  font-style: strong;
  color: rgb(22, 57, 22);
  line-height: 25px;
  margin: 20px;
}
.container {
  margin: 0 auto; /* This automatically sets left/right margins */
  text-align: center;
}

@media (min-width: 1200px) {
  .container {
      max-width: 900px;
  }
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    max-width: 500px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    max-width: 500px;
  }

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    max-width: 100%; /* Adjust width for smaller screens */
  }

  .card-content {
    flex-direction: column; /* Stack items vertically */
  }

  .avatar {
    margin-bottom: 20px; /* Add some space below the image */
  }
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 80%;
}

.icon {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.carousel-image {
  width: auto;
  height: 400px; /* Set your desired height */
  object-fit: cover;
  overflow: hidden; /* Maintain aspect ratio and fill the container */
  border-radius: 5px;
}

.carousel {
  max-width: 850px;
  margin: auto;
  align-items: center;
  background-color: rgb(22, 57, 22);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.carousel p,h3 {
  color: white;
}
.carousel h3 {
 margin-bottom: 30px;
}
.carousel p{
  text-align: justify;
  padding-left: 20px;
  font-style: light;
  font-weight: 200;
}
a {
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(56, 76, 65);
}

a:hover {
  transform: scale(2, 2);
  color: rgb(22, 57, 22);
}
.carousel a:hover{
  transform: scale(1.3, 1.3);
  color: rgb(22, 57, 22);
}

.card-bio i:hover {
  transform: scale(2, 2);
  color: rgb(27, 26, 26);
}



@media (max-width: 480px) {
  /* For screens < 480px */
  .card-bio {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .avatar {
    height: 80px;
    width: 80px; /* Reduce size for smaller screens */
  }

  .card-about {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .card-projects {
    padding: 20px; /* Reduce padding for smaller screens */
  }

  .carousel-image {
    width: auto; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .carousel{
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
    text-align: center;
  }
  }
.custom-btn {
  background-color: #f40d0d;
  color: #fff;
}
